html, body {
    height: 100%;
}

a       { text-decoration: none !important; }
a:hover { text-decoration: none !important; }

.back, .btn-text {
    color: #FF5950;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 45px;
    font-weight: 900;
}

.back:hover, .btn-text:hover {
    color: #1B2B66;
}

body.form {
    background: linear-gradient(to bottom right, #B68C62, #9B8D82);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.form .back {
    position: absolute;
    top: 5%;
    left: 5%;
    color: #fefefe;
    text-transform: uppercase;
    font-weight: 800;
}

.form .back:hover {
    text-decoration: none;
    opacity: 0.8;
}

#register-form .step {
    display: none;  
    background-color: #fefefe;
    box-shadow: 0 0 1px #aaa;
    padding: 20px;
}

#register-form .step h2 {
    color: #A98C72;
    margin: 15px 0;
    border-bottom: 1px solid #A98C72;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
}

#register-form .step select {
    width: inherit;
}

#register-form .step .birthday-fills input,
#register-form .step .birthday-fills select {
    width: 30%;
}

#register-form .step .button-col {
    height: 40px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

#register-form .step .step-button {
    margin: auto;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    transition: background ease 0.2s
    color: #9B8D82;
    color: #9B8D82;
    background: #fefefe;
    border: none;
}

#register-form .step .step-button:hover,
#register-form .step .step-button.submit:hover {
    background: linear-gradient(to bottom right, #9B8D82, #9B8D82);
    color: #fefefe
}


#register-form .step .step-button.submit {
    background: linear-gradient(to bottom right, #9B8D82, #B68C62);
    color: #fefefe;
    border: none;
}

.part {
    display: none;
    margin-top: 40px;
    margin-bottom: 40px;
}